@import'../vars/vars.scss';

#main-offer-container {
    padding: 60px 0px 80px 0px;
    gap: 96px;
    background-color: $grayBackgroun;

    #text-box-offer {
        width: 280px;
        gap: 16px;

        p#offer-small-label {
            @include basic-inter-font-text--12-ls;
            color: $primary;
            font-size: 12px;
        }

        #main-text-box-offer {
            width: 280px;
            gap: 32px;

            h2#offer-section-heading {
                @include basic-Montserrat-font-text--1-44-ls;
                color: $text-black;
                font-size: 30px;

                span#heading-part {
                    @include basic-inter-font-text-non-ls-lh-115;
                    color: $text-black;
                    font-size: 30px;
                }
            }

            .offer-paragraph {
                @include basic-inter-font-text--16-ls;
                color: $text-black;
                font-size: 14px;
                margin: 0;
            }

        }
    }

    #offer-cards-container {
        padding: 0px 16px;
        gap: 64px;
        max-width: 100%;

        .offer-box {
            background-color: $cardsBackgroundColor;
            width: 378px;
            height: 370px;
            padding: 48px 40px;
            border-radius: 28px;

            .offer-link-button {
                @include basic-inter-font-text-non-ls;
                padding: 0px;
                gap: 10px;
                border-radius: 0;
                border-bottom: 0.5px solid $primary;
                color: $primary;
                transition: color 0.3s ease-out, border 0.3s ease-out;
                border-bottom: 1px solid $primary;
                text-align: center;
                font-size: 14px;

                &:hover {
                    color: $hoverBoxOfferLink;
                    border-bottom: 1px solid $hoverBoxOfferLink;
                }
            }

            .main-offer-box {
                gap: 32px;

                #box-offer-1-icon {
                    width: 40px;
                    height: 40px;
                    flex-shrink: 0;
                }

                #box-offer-2-icon {
                    width: 48px;
                    height: 28.96px;
                    flex-shrink: 0;
                }

                #box-offer-3-icon {
                    width: 44px;
                    height: 44px;
                    flex-shrink: 0;
                }

                .main-offer-box-content {
                    gap: 12px;

                    .heading-box-offer {
                        @include basic-Montserrat-font-text--1-4-ls;
                        color: $text-black;
                        font-size: 24px;
                        margin: 0;
                    }

                    .content-box-offer {
                        @include basic-inter-font-text;
                        color: $text-black;
                        font-size: 14px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    #main-offer-container {
        padding: 120px 0px 120px 0px;

        #text-box-offer {
            width: 524px !important;

            #main-text-box-offer {
                width: 524px !important;
            }

            h2#offer-section-heading {
                font-size: 40px !important;

                span#heading-part {
                    font-size: 40px !important;
                }
            }

            .offer-paragraph {
                font-size: 14px !important;
            }

        }

        #offer-cards-container {
            padding: 0 30px !important;
            gap: 40px !important;

            .offer-box {
                width: 278px !important;
                padding: 38px 30px !important;

                .offer-link-button {
                    font-size: 16px !important;
                }

                .main-offer-box {
                    #box-offer-1-icon {
                        width: 28px !important;
                        height: 28px !important;
                    }

                    #box-offer-2-icon {
                        width: 48px !important;
                        height: 28.96px !important;
                    }

                    #box-offer-3-icon {
                        width: 28px !important;
                        height: 28px !important;
                    }

                    .main-offer-box-content {
                        gap: 12px !important;

                        .heading-box-offer {
                            font-size: 24px !important;
                        }

                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    #main-offer-container {
        padding: 120px 0px 120px 0px;

        #text-box-offer {
            width: 709px !important;

            #main-text-box-offer {
                width: 709px !important;
            }

            h2#offer-section-heading {
                font-size: 40px !important;

                span#heading-part {
                    font-size: 40px !important;
                }
            }

            .offer-paragraph {
                font-size: 14px !important;
            }

        }

        #offer-cards-container {
            padding: 0 30px !important;
            gap: 40px !important;

            .offer-box {
                width: 278px !important;
                padding: 38px 30px !important;

                .offer-link-button {
                    font-size: 16px !important;
                }

                .main-offer-box {
                    #box-offer-1-icon {
                        width: 28px !important;
                        height: 28px !important;
                    }

                    #box-offer-2-icon {
                        width: 48px !important;
                        height: 28.96px !important;
                    }

                    #box-offer-3-icon {
                        width: 28px !important;
                        height: 28px !important;
                    }

                    .main-offer-box-content {
                        gap: 12px !important;

                        .heading-box-offer {
                            font-size: 24px !important;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #main-offer-container {
        padding: 120px 0px 160px 0px;

        #text-box-offer {
            width: 832px !important;

            #main-text-box-offer {
                width: 709px !important;
            }

            h2#offer-section-heading {
                font-size: 40px !important;

                span#heading-part {
                    font-size: 40px !important;
                }
            }

            .offer-paragraph {
                font-size: 14px !important;
            }

        }

        #offer-cards-container {
            padding: 0 30px !important;
            gap: 40px !important;

            .offer-box {
                width: 278px !important;
                padding: 38px 30px !important;

                .offer-link-button {
                    font-size: 16px !important;
                }

                .main-offer-box {
                    #box-offer-1-icon {
                        width: 28px !important;
                        height: 28px !important;
                    }

                    #box-offer-2-icon {
                        width: 48px !important;
                        height: 28.96px !important;
                    }

                    #box-offer-3-icon {
                        width: 28px !important;
                        height: 28px !important;
                    }

                    .main-offer-box-content {
                        gap: 12px !important;

                        .heading-box-offer {
                            font-size: 24px !important;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    #main-offer-container {
        padding: 120px 0px 160px 0px !important;

        #text-box-offer {
            width: 1040px !important;

            #main-text-box-offer {
                width: 709px !important;
            }

            h2#offer-section-heading {
                font-size: 48px !important;

                span#heading-part {
                    font-size: 48px !important;
                }
            }

            .offer-paragraph {
                font-size: 16px !important;
            }

        }

        #offer-cards-container {
            padding: 0 80px !important;
            gap: 64px !important;

            .offer-box {
                width: 378px !important;
                padding: 48px 40px !important;

                .offer-link-button {
                    font-size: 16px !important;
                }

                .main-offer-box {
                    #box-offer-1-icon {
                        width: 40px !important;
                        height: 40px !important;
                    }

                    #box-offer-2-icon {
                        width: 48px !important;
                        height: 28.96px !important;
                    }

                    #box-offer-3-icon {
                        width: 44px !important;
                        height: 44px !important;
                    }

                    .main-offer-box-content {
                        gap: 12px !important;

                        .heading-box-offer {
                            font-size: 28px !important;
                        }

                    }
                }
            }
        }
    }
}