@import '../vars/vars.scss';

#main-realizations-container {
    padding: 120px 0px 44px 0px;
    gap: 96px;
    background-color: $sliderBackground;

    #realizations-section-header {
        padding: 0 0 0 30px;
        gap: 16px;

        #realizations-small-label {
            color: $primary;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.12px;
        }

        h3#realizations-main-heading {
            color: $text-black;
            font-family: Montserrat;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: 115%;
            letter-spacing: -1.44px;

            span#realizations-heading-part {
                color: $text-black;
                font-family: Inter;
                font-size: 36px;
                font-style: italic;
                font-weight: 500;
                line-height: 115%;
            }
        }
    }

    #main-container-gallery {
        width: 100%;
        position: relative;

        #realizations-galery {
            width: 100%;
            transition: margin 0.3s ease-out;
        }

        #gallery-gradient-box {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 1000px;
            width: 100%;
            padding: 0 0 45px 0;
            background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
            transition: all 0.3s ease-out;

            #gallery-gradient-button {
                color: $text-black;
                border-color: $text-black;
                display: inline-flex;
                padding: 12px 22px 14px 22px;
                align-items: center;
                gap: 8px;
                transition: all 0.3s ease-out;
                border-radius: 200px;
                text-align: center;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;

                &:hover {
                    color: $primary;
                    background-color: $grayBackgroun;
                    border-color: $grayBackgroun;
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    #main-realizations-container {
        padding: 120px 0px 44px 0px;
        gap: 96px;

        #realizations-section-header {
            padding: 0 0 0 50px;
            gap: 16px;

            #realizations-small-label {
                font-size: 12px;
            }

            h3#realizations-main-heading {
                font-size: 38px;

                span#realizations-heading-part {
                    font-size: 38px;
                }
            }
        }

    }
}

@include media-breakpoint-up(md) {
    #main-realizations-container {
        padding: 120px 0px 44px 0px;
        gap: 96px;

        #realizations-section-header {
            padding: 0 0 0 80px;
            gap: 16px;

            #realizations-small-label {
                font-size: 12px;
            }

            h3#realizations-main-heading {
                font-size: 40px;

                span#realizations-heading-part {
                    font-size: 40px;
                }
            }
        }

    }
}

@include media-breakpoint-up(lg) {
    #main-realizations-container {
        padding: 120px 0px 44px 0px;
        gap: 96px;

        #realizations-section-header {
            padding: 0 0 0 110px;
            gap: 16px;

            #realizations-small-label {
                font-size: 12px;
            }

            h3#realizations-main-heading {
                font-size: 42px;

                span#realizations-heading-part {
                    font-size: 42px;
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    #main-realizations-container {
        padding: 120px 0px 44px 0px;
        gap: 96px;

        #realizations-section-header {
            padding: 0 0 0 160px;
            gap: 16px;

            #realizations-small-label {
                font-size: 12px;
            }

            h3#realizations-main-heading {
                font-size: 48px;

                span#realizations-heading-part {
                    font-size: 48px;
                }
            }
        }
    }
}