@import '../vars/vars.scss';

.navi-container {
    max-width: 1262px;
    height: 72px;

    #navi-nav-desktop.nav {
        gap: 48px;
        display: none;

        .nav-link {
            color: $text-black;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.14px;
            transition: color 0.3s linear;

            &:hover {
                color: $primary;
            }

        }

        #lens-desktop {
            cursor: pointer;
        }

        #offer-dropdown-menu {
            border-radius: 5px;

            .dropdown-item {
                color: $text-black;
                transition: all 0.3s linear;

                &:hover {
                    color: $primary;
                }
            }
        }

        .dropdown-toggle::after {
            display: none;
            content: '';
        }
    }

    #navi-nav-mobile {
        display: block;

        .navi-nav-mbile-container {
            gap: 26px;

            #lens-mobile,
            #navi-mobile-button {
                cursor: pointer;
            }

            #navi-mobile-button {
                font-size: 28px;
            }
        }
    }
}

#search-container {
    margin: 0 auto;
    transition: all 0.3s linear;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .search-input-container {
        width: 280px;
    }
}

.search-container-visible {
    background-color: $grayBackgroun;
    max-width: 1262px;
    height: 58px;
    padding: 0 10px;
}

.search-container-hidden {
    max-width: 1262px;
    padding: 0 10px;
    height: 0;
}

#search-input {
    transition: all 0.3s linear;
}

.search-input-visible {
    display: block;
}

.search-input-hidden {
    display: none;
}

@include media-breakpoint-up(md) {
    #navi-nav-desktop.nav {
        display: flex !important;
    }

    #navi-nav-mobile {
        display: none !important;
    }
}