$text-black: #111111;
$border-color: #F5F0EC;
$primary: #1B5B31;
$hoverBoxOfferLink: #174d2a;
$grayBackgroun: #F5F0EC;
$sliderButtonsTextColor: #F5F0EC;
$textGrayColor: #F5F0EC;
$sliderBackground: #DCC1AB;
$cardsBackgroundColor: #ffffff;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);