$text-black: #111111;
$border-color: #F5F0EC;
$primary: #1B5B31;
$hoverBoxOfferLink: #174d2a;
$grayBackgroun: #F5F0EC;
$sliderButtonsTextColor: #F5F0EC;
$textGrayColor: #F5F0EC;
$sliderBackground: #DCC1AB;
$cardsBackgroundColor: #ffffff;
$footerBackground: #111111;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

@mixin basic-inter-font-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.14px;
}

@mixin basic-inter-font-text-non-ls {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@mixin basic-inter-font-text--12-ls {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.12px;
}

@mixin basic-inter-font-text-non-ls-lh-115 {
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    line-height: 115%;
}

@mixin basic-inter-font-text--16-ls {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.16px;
}

@mixin basic-inter-font-text-1-ls {
    font-family: Inter;
    font-style: italic;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
}

@mixin basic-Montserrat-font-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
}

@mixin basic-Montserrat-font-text--1-44-ls {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.44px;
}

@mixin basic-Montserrat-font-text--1-4-ls {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -1.4px;
}

@mixin basic-Montserrat-font-text--2-ls {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2px;
}