* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import './vars/vars.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './navi/navi.scss';
@import './intro/intro.scss';
@import './offer/offer.scss';
@import './about/about.scss';
@import './realizations/realizations.scss';
@import './contact/contact.scss';
@import './footer/footer.scss';