@import '../vars/vars.scss';

#main-contact-container {
    padding: 60px 0px;
    gap: 10px;
    background-color: $grayBackgroun;

    #contact-box {
        width: 100%;
        padding: 60px 20px;
        gap: 64px;
        background-color: $primary;

        h3#contact-heading {
            @include basic-Montserrat-font-text--2-ls;
            color: $textGrayColor;
            font-size: 26px;

            span#contact-heading-part {
                @include basic-inter-font-text-1-ls;
                color: $textGrayColor;
                font-size: 26px;
            }
        }

        #contact-box-with-button {
            width: 100%;
            gap: 24px;

            #contact-box-with-button-text {
                @include basic-inter-font-text--16-ls;
                color: $textGrayColor;
                font-size: 16px;
            }

            #contact-box-with-button-button {
                @include basic-inter-font-text-non-ls;
                color: $primary;
                background-color: $grayBackgroun;
                padding: 10px 24px 12px 24px;
                gap: 10px;
                text-align: center;
                font-size: 16px;
                border-radius: 200px;
                transition: background-color 0.3s ease-out, color 0.3s ease-out;
                border: 1px solid $grayBackgroun;

                &:hover {
                    border: 1px solid $textGrayColor;
                    background-color: $primary;
                    color: $textGrayColor;
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    #main-contact-container {
        padding: 60px 0px;
        gap: 10px;

        #contact-box {
            width: 100%;
            padding: 80px 50px;
            gap: 64px;

            h3#contact-heading {
                font-size: 30px;

                span#contact-heading-part {
                    font-size: 30px;
                }
            }

            #contact-box-with-button {
                width: 157px;
                gap: 24px;

                #contact-box-with-button-text {
                    font-size: 16px;
                }

                #contact-box-with-button-button {
                    padding: 10px 24px 12px 24px;
                    gap: 10px;
                    font-size: 16px;

                }
            }
        }
    }
}

@include media-breakpoint-up(md) {
    #main-contact-container {
        padding: 60px 0px;
        gap: 10px;

        #contact-box {
            width: 750px;
            padding: 120px 110px;
            gap: 64px;

            h3#contact-heading {
                font-size: 30px;

                span#contact-heading-part {
                    font-size: 30px;
                }
            }

            #contact-box-with-button {
                width: 157px;
                gap: 24px;

                #contact-box-with-button-text {
                    font-size: 16px;
                }

                #contact-box-with-button-button {
                    padding: 10px 24px 12px 24px;
                    gap: 10px;
                    font-size: 16px;

                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    #main-contact-container {
        padding: 60px 0px;
        gap: 10px;

        #contact-box {
            width: 975px;
            padding: 120px 110px;
            gap: 64px;

            h3#contact-heading {
                font-size: 36px;

                span#contact-heading-part {
                    font-size: 36px;
                }
            }

            #contact-box-with-button {
                width: 157px;
                gap: 24px;

                #contact-box-with-button-text {
                    font-size: 16px;
                }

                #contact-box-with-button-button {
                    padding: 10px 24px 12px 24px;
                    gap: 10px;
                    font-size: 16px;

                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    #main-contact-container {
        padding: 60px 0px;
        gap: 10px;

        #contact-box {
            width: 1040px;
            padding: 120px 110px;
            gap: 64px;

            h3#contact-heading {
                font-size: 40px;

                span#contact-heading-part {
                    font-size: 40px;
                }
            }

            #contact-box-with-button {
                width: 157px;
                gap: 24px;

                #contact-box-with-button-text {
                    font-size: 16px;
                }

                #contact-box-with-button-button {
                    padding: 10px 24px 12px 24px;
                    gap: 10px;
                    font-size: 16px;

                }
            }
        }
    }
}